.calendar {
  display: grid;
  grid-template-columns: $calendar-grid-template-size;
  grid-template-rows: $calendar-grid-template-size;
  gap: 1px;

  width: 710px;
  margin: 100px auto;

  div {
    position: relative;
    background-color: #eee;
    border: 1px solid #000;
    transition: background-color 0.5s, transform 0.5s;
  }

  div:hover {
    background-color: pink;
    cursor: pointer;
    transform: translate(0, -20px);
  }

  @for $i from 1 through 31 {
    div:nth-child(#{$i})::before {
      content: "#{$i}";
      display: block;
      font-family: Arial, sans-serif;
      font-size: 30px;
      position: absolute;
      top: $center-percent;
      left: $center-percent;
      transform: translate(-$center-percent, -$center-percent);
    }
  }

  @each $day, $number in $days {
    &-#{$day} div:first-child {
      grid-column-start: $number;
    }
  }

  @for $i from 28 through 30 {
    &-#{$i} div:nth-child(n+#{$i+1}) {
      display: none;
    }
  }
}
