body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 100px);
  gap: 1px;
  width: 710px;
  margin: 100px auto; }
  .calendar div {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: #eee;
    border: 1px solid #000;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
    transition: background-color 0.5s, transform 0.5s, -webkit-transform 0.5s; }
  .calendar div:hover {
    background-color: pink;
    cursor: pointer;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px); }
  .calendar div:nth-child(1)::before {
    content: "1";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(2)::before {
    content: "2";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(3)::before {
    content: "3";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(4)::before {
    content: "4";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(5)::before {
    content: "5";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(6)::before {
    content: "6";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(7)::before {
    content: "7";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(8)::before {
    content: "8";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(9)::before {
    content: "9";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(10)::before {
    content: "10";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(11)::before {
    content: "11";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(12)::before {
    content: "12";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(13)::before {
    content: "13";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(14)::before {
    content: "14";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(15)::before {
    content: "15";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(16)::before {
    content: "16";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(17)::before {
    content: "17";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(18)::before {
    content: "18";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(19)::before {
    content: "19";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(20)::before {
    content: "20";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(21)::before {
    content: "21";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(22)::before {
    content: "22";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(23)::before {
    content: "23";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(24)::before {
    content: "24";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(25)::before {
    content: "25";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(26)::before {
    content: "26";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(27)::before {
    content: "27";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(28)::before {
    content: "28";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(29)::before {
    content: "29";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(30)::before {
    content: "30";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar div:nth-child(31)::before {
    content: "31";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .calendar-mon div:first-child {
    grid-column-start: 1; }
  .calendar-tue div:first-child {
    grid-column-start: 2; }
  .calendar-wed div:first-child {
    grid-column-start: 3; }
  .calendar-thu div:first-child {
    grid-column-start: 4; }
  .calendar-fri div:first-child {
    grid-column-start: 5; }
  .calendar-sat div:first-child {
    grid-column-start: 6; }
  .calendar-sun div:first-child {
    grid-column-start: 7; }
  .calendar-28 div:nth-child(n+29) {
    display: none; }
  .calendar-29 div:nth-child(n+30) {
    display: none; }
  .calendar-30 div:nth-child(n+31) {
    display: none; }

/*# sourceMappingURL=main.css.map */
